<!DOCTYPE html>
<html>
<head>
<title>Form</title>

<link rel="stylesheet" type="text/css" 
href="//fonts.googleapis.com/css?family=EB+Garamond:n,b,i,bi|Mr+De+Haviland:n,b,i,bi|&amp;subset=latin">

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>


<script>

$(document).ready(function() {

  $('#mainPage').show();
  $('#whoWeAre').hide();
  $('#ourSauces').hide();
  $('#recipes').hide();
  $('#contact').hide();
  $('#navigation').click(function() {
   
   

  });
   $('#home-nav').click(function(){
      $('#mainPage').show();
      $('#whoWeAre').hide();
      $('#ourSauces').hide();
      $('#recipes').hide();
      $('#contact').hide();

  });
  $('#who-nav').click(function(){
    $('#whoWeAre').show();
    $('#mainPage').hide();
    $('#ourSauces').hide();
    $('#recipes').hide();
    $('#contact').hide();

  });
  $('#sauces-nav').click(function(){
    $('#ourSauces').show();
    $('#mainPage').hide();
    $('#whoWeAre').hide();
    $('#recipes').hide();
    $('#contact').hide();


  });
  $('#recipes-nav').click(function(){
    $('#recipes').show();
    $('#mainPage').hide();
    $('#whoWeAre').hide();
    $('#ourSauces').hide();
    $('#contact').hide();



  });
  $('#contact-nav').click(function(){
    $('#contact').show();
    $('#mainPage').hide();
    $('#whoWeAre').hide();
    $('#ourSauces').hide();
    $('#recipes').hide();

  });



 $('#nav-div .a').click(function(){
         $('#nav-div .a').removeClass('active');
         $(this).addClass('active');
    });
    
    $('#nav-div .a').click(function(){
         $('.a active').removeClass('active');
         $(this).addClass('active');
         return false;
    });
    

});

</script>
</head>

<body style device="desktop" preview="public">
<!..Header..>
<div id="container" style="width:1349px";>


<div class="header"></div>
  <!..div id="header" class="fixedPosition" width="980" height="189" x="0" y="0" scale="1" angle="0" pos="fixed" style="visibility: visible; position: fixed; width: 980px; min-height: 188px; top:0px">
    <!..div class="header_screenWidthBackground" style="position: absolute; width: 1349px; height: 188px; left: -10px;">
      <!..div class="header_bgcolor"><!../div>
    <!../div>


<div id="SITE_STRUCTURE" class="SITE_STRUCTURE">
</div>

<!..Logo..>

<div id="logocontainer" Class="logo_container" width="240" height="130" x="372" y="26" scale="1" angle="0" title="">
  <img id="image" alt="" src="http://static.wixstatic.com/media/41d000_884a2cfdd22eef3773ab41cd174e62eb.png_srz_p_240_129_75_22_0.50_1.20_0.00_png_srz" class="logo_image">
  </div>
  <div id="Logotext" width="145" height="40" x="425" y="9" scale="1" angle="0" styleid="txt1" class="logo_text">
  <p class="alignCenter" style="">
    <span class="font_0">
    <span class="color_20">LORENZI</span></span>
  </p>
  <p>&nbsp;</p>
  </div>
  <div id="LogoContent" width="115" height="70" x="625" y="14" scale="1" angle="0" styleid="txtNew" class="logo_content" style="visibility: visible; left: 625px; top: 14px; width: 115px; min-height: 70px; position: absolute;">
<h5 style="line-height: 0.9em; text-align: center; position:fixed; z-index:2" class="font_5">
<span style="line-height:0.9em;">
<a href="#!Home/mainPage" target="_self">​</a>
<span class="color_2">Cucina Authentica</span>
</span>
</h5>
<p style="text-align: center; line-height: 1em;" class="font_8">
<span style="line-height:14.2em; position:fixed; z-index:1; left:636px;">PASTA SAUCE</span>
</p>
<p style="text-align: center; line-height: 8em;" class="font_9">
<span style="line-height:20em; position:fixed; z-index:1; left:658px;">since 1997</span>
</p>
</div>
</div>




<!..Menu..>
<div id="DropDownList" width="940" height="33" x="22" y="156" scale="1" angle="0" styleid="ddm2" style="visibility: visible; left: 278px; top: 163px; width: 940px; min-height: 33px; position: fixed; z-index:2">
  <div skinpart="itemsContainer" class="dropdown-itemsContainer" style="text-align: center; height: 33px; width: 940px; overflow: visible; white-space: nowrap; display: inherit;">
      <div id="content">
        <div id="navigation">

          <div id = "nav-div">
          <div id = "home-nav" class="a active" 
          style="-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;">Home</div>
          </div>
          <div id = "nav-div">
            <div class="gapper">
            <div id = "who-nav" class="a">Who We Are</div>
          </div>
          </div>
          <div id = "nav-div">
            <div class="gapper">
            <div id = "sauces-nav" class="a">Our Sauces</div>
          </div>
          </div>
          <div id = "nav-div">
            <div class="gapper">
            <div id = "recipes-nav" class="a">Recipes</div>
          </div>
          </div>
          <div id = "nav-div">
            <div class="gapper">
            <div id = "contact-nav" class="a" style="-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;">Contact</div>
          </div>
          </div>
          
        </div>
      </div>

  </div>
</div>



<!..Main page container..>

<div id="PAGES_CONTAINER" width="980" height="615" x="0" y="189" scale="1" angle="0" styleid="pc1" class="page_container">
  <div id = "mainPage">
    <%= render :partial => 'layouts/main_page' %>
  </div>

  <div id = "whoWeAre">
    <%= render :partial => 'layouts/who_we_are' %>
  </div>

  <div id = "ourSauces">
    <%= render :partial => 'layouts/our_sauces' %>
  </div>

    <div id = "recipes">
    <%= render :partial => 'layouts/recipes' %>
  </div>

    <div id = "contact">
    <%= render :partial => 'layouts/contact' %>
  </div>

</div>

<!..footer..>
<div id="SITE_FOOTER" width="980" height="175" x="0" y="817" scale="1" angle="0" class="site_footer" style="visibility: visible; position: absolute; bottom: auto; width: 980px; min-height: 175px; top: 815px;" styleid="fc1">

<div skinpart="screenWidthBackground" class="footer_screenWidthBackground" style="position: absolute; width: 1349px; height: 175px; left: -185px;"></div>

<div skinpart="centeredContent" class="footer_centeredContent" style="width: 980px; margin-left: 0px;">
<div skinpart="bg" class="footer_TransparentScreen_bg"></div>
<div skinpart="inlineContent" class="footer_inlineContent">



  <div id="footertext" width="440" height="20" x="17" y="15" scale="1" angle="0" styleid="txtNew" class="footer_text" style="visibility: visible; left: 210px; top: 40px; width: 440px; min-height: 20px; position: absolute;">
    <p class="font_9">© 2023 by LORENZI. Proudly created with<span style="line-height: 1.4em;"> 
      <u>
        <a dataquery="#Linkmrf" href="http://wix.com" target="_blank" style="cursor: pointer;">Wix.com</a>
      </u></span>
    </p>


</div>

<div id="Sauces_line5" width="980" height="9" x="0" y="47" scale="1" angle="0" styleid="hl1" state="" style="visibility: visible; left: 190px; top: 47px; min-width: 980px; min-height: 9px; position: absolute;" >
  <div skinpart="line" class="footer_DoubleLine"></div>
</div>

<div id="LnkBr1" comp="wysiwyg.viewer.components.LinkBar" dataquery="#c1c7x" propertyquery="#c23ty" width="81" height="22" x="870" y="10" scale="1" angle="0" styleid="lb1" skin="wysiwyg.viewer.skins.LinkBarNoBGSkin" class="wysiwyg_viewer_skins_LinkBarNoBGSkinlb1" style="visibility: visible; left: 870px; top: 10px; width: 81px; min-height: 22px; position: absolute;">




<!.site header..> 
<!..shadow under header..>

<div id="SITE_HEADER" width="980" height="189" x="0" y="0" scale="1" angle="0" pos="fixed" class="fixedPosition ShadowBottomScreen-In" styleid="hc3" skin="ShadowBottomScreen-In" style="visibility: visible; width: 980px; min-height: 188px; left:185px; top:7px">
  <div class="ShadowBottomScreen-ln ShadowBottomScreen-left"></div>
  <div class="ShadowBottomScreen-ln ShadowBottomScreen-center"></div>
  <div class="ShadowBottomScreen-ln ShadowBottomScreen-right"></div>
</div>





<%= yield %>  

</body>
</html>
